
.nav {
    
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    
    
   
    
}

.btn{
        
    border-radius: 7px;
    width: 50%;
    max-width: 150px;
    height: 43px;
    border: none;
    font-weight: 500;
    color: white;
    
}
button :hover{
    background-color: #047999;      
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
width: 17rem;
    
}